node_modules
**/node_modules

**/.env
**/.env.*
!**/.env.example

**/*.test.ts
**/*.spec.ts
**/coverage
**/.nyc_output

**/logs
**/*.log
**/npm-debug.log*

**/.DS_Store
**/.vscode
**/.idea
**/Thumbs.db

.git
.gitignore

.github
README.md
*.md